---
import Layout from '../layouts/Layout.astro';
---

<Layout title={'EvilArthas calendar'}>
  <main class="container mx-auto bg-white rounded-lg p-4">
    <p>Full calendar will be here</p>
  </main>
</Layout>
