---
import Layout from '../layouts/Layout.astro';

const siteName = 'EvilArthas calendar';
---

<Layout title={siteName}>
  <main class="container mx-auto bg-white rounded-lg p-4">
    <h1>{siteName}</h1>
  </main>
</Layout>
